<!doctype html>
<html>
  <head>
    <title>My Town Tracker</title>
    <link rel="stylesheet" href='../public/css/main2.css' type='text/css'>
  </head>
  <body>

    <div>
      <h1>My Town Tracker</h1>
      <%= yield %>
    </div>
    
  </body>
</html>